body {
  background-color: beige;
  padding-left: 10px;
}

.income-expense-btn-container {
  display: flex;
  gap: 30px;
}

.income-input {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  padding-top: 0;
  background-color: green;
}

.editor-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.remark-editor {
  width: 100%;
  min-width: 400px;
  min-height: 50px;
}

.transaction-header,
.transaction-list {
  display: flex;
  gap: 200px;
}

.edit-btn,
.delete-btn {
  display: inline-block;
  margin-right: 10px;
}
